In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('diabetes.csv')
df.shape

(768, 9)

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
split_count = int(df.shape[0] * 0.8)
split_count

614

In [10]:
train = df[:split_count].copy()
train.shape

(614, 9)

In [11]:
test = df[split_count:].copy()
test.shape

(154, 9)

In [14]:
feature_names = train.columns[:-1].tolist()

In [16]:
label_name = train.columns[-1]
label_name

'Outcome'

## 학습, 예측 데이터셋 만들기

In [17]:
x_train = train[feature_names]
print(x_train.shape)
x_train.head()

(614, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [18]:
y_train = train[label_name]
print(y_train.shape)
y_train.head()

(614,)

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [19]:
x_test = test[feature_names]
print(x_test.shape)
x_test.head()

(154, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
614,11,138,74,26,144,36.1,0.557,50
615,3,106,72,0,0,25.8,0.207,27
616,6,117,96,0,0,28.7,0.157,30
617,2,68,62,13,15,20.1,0.257,23
618,9,112,82,24,0,28.2,1.282,50

In [21]:
y_test = test[label_name]
print(y_test.shape)
y_test.head()

(154,)

614    1
615    0
616    0
617    0
618    1
Name: Outcome, dtype: int64